<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To Do List</title>
    </head>
    <body>
        <main>
            {%block content%}
            {%endblock content%}
        </main>
    </body>
</html>