{% extends 'base.html' %}
{%block content%}
<main>
        <a href= "{% url 'todo_list_list' %}"> Back to list</a>
        <a href= "{% url 'todo_list_edit' todolist.id %}">Edit</a>
        <a href= "{% url 'todo_list_delete' todolist.id %}">Delete</a>
    <h1>{{todolist.name}}</h1>
    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            {%for item in todolist.items.all%}
            <tr>
                <td>
                    <a href= "{% url 'todo_item_edit' item.id %}"> {{item.task}}</a>
                </td>
                <td> {{item.due_date}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

</main>
{%endblock content%}